.section {
    padding-bottom: 5.6rem;
}

.list {
    margin: 0;
    padding-left: 4.6rem;
    list-style: none;
    columns: 3;
}

.listItem {
    display: grid;
    grid-template-columns: 2.4rem 1fr;
    grid-gap: 1rem;
    align-items: center;
    padding-bottom: 2rem;
}

.listItemTitle {
    display: none;
}
