.button {
    width: max-content;
    padding: 1.8rem 1.5rem;
    background-color: var(--accent-color);
    color: var(--text-on-accent-color);
    font-size: 1.8rem;
    border: none;
    border-radius: 0.4rem;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.button:hover,
.button:focus-visible {
    box-shadow: 0.4rem 0.8rem 0.8rem rgba(255, 174, 57, 0.28);
    outline: none;
}

.button:active {
    background-color: var(--accent-active-color);
}
