.header {
    height: rem(200);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: rem(35);
    align-items: center;
    justify-content: left;
    padding: rem(35);
    border-bottom: rem(1) solid var(--color-border);
}

.imageContainer {
    height: 100%;
    width: max-content;
    overflow: hidden;
}

.image {
    height: 100%;
    display: inline-block;
}

.content {
    text-transform: uppercase;
}
