:root {
    --background-color: #18141a;

    --accent-color: #ffae39;
    --accent-active-color: #b27a28;

    --text-on-accent-color: #000000;
    --text-color: #ffffff;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-size: 1.6rem;

    background-color: var(--background-color);
}

* {
    box-sizing: border-box;
}
